Modulacao_AM/__pycache__/*.pyc
LAB_FM/__pycache__/*.pyc
.ipynb_checkpoints/*.ipynb
Modulacao_AM/__pycache__/modAM.cpython-39.pyc
slides/modulacao_fm.pdf
slides/*.pdf
Slides/Ruido/*.fdb_latexmk
Slides/Ruido/*.fls
Slides/Ruido/*.log
Slides/Ruido/*.pdf
Slides/Ruido/*.synctex.gz
Slides/AM/AM.aux
Slides/AM/AM.bbl
Slides/AM/AM.bcf
Slides/AM/AM.blg
Slides/AM/AM.fdb_latexmk
Slides/AM/AM.fls
Slides/AM/AM.log
Slides/AM/AM.nav
Slides/AM/AM.out
Slides/AM/AM.pdf
Slides/AM/AM.run.xml
Slides/AM/AM.snm
Slides/AM/AM.synctex.gz
Slides/AM/AM.toc
Slides/AM/AM.xdv
